.field{
    position: relative;
}

input{
    padding: 10px;
}

.field label{
    position: absolute;
    left: 2px;
    top: 2px;
    color: #6b7280;
    background: #fff;
    pointer-events: none;
    transition: 0.2s ease;
}

.field.active label{
    top: -10px;
    font-size: 12px;
    color: #1f6feb;
}