*{
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    width: 100%;
    margin: 0;
    display: grid;
    width: 100%;
    grid-template-areas:
        "head head"
        "main side"
        "foot foot";

    grid-template-rows: 100px 1fr ;
    grid-template-columns: 50% 1fr;

}

img{
    width: 100px;
}

header{
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: lightslategray;
}

.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}

main{
    grid-area: main;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

aside{
    grid-area: side;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: foot;
    background-color: black;
    color: white;
    padding: 20px 0px;
}

@media (max-width: 768px) {
    body{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "head"
            "main"
            "side"
            "foot";
    }
}