body{
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
    display: grid;
}

div{
    border: solid 1px black;
}

.subtitle{
    grid-column: 1/4;
    grid-row: 1/2;
}

.nav{
    grid-column: 4/8;
    grid-row: 1/2;
}

.img{
    grid-column: 1/4;
    grid-row: 2/4;
}

.main{
    grid-column: 1/4;
    grid-row: 4/7;
}

.side{
    grid-column: 4/8;
    grid-row: 2/7;
}

.footer{
    grid-column: 1/8;
    grid-row: 7/8;
}