body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.area{
    width: 100px;
    height: 100px;
    position: relative;
}

.cir{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    animation: move 2s infinite ease-in-out;
    transform: translateX(-50%);
}

@keyframes move{
    0%{
        top: 70%;
    }50%{
        top: 0%;
    }100%{
        top: 70%;
    }
}

