body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 200px minmax(0,1fr) 200px;
}

header{
    grid-row: 1/2;
    grid-column: 1/4;
}

nav{
    grid-row: 2/3;
    grid-column: 1/2;
}

main{
    grid-row: 2/3;
    grid-column: 2/3;
}

aside{
    grid-row: 2/3;
    grid-column: 3/4;
}

footer{
    grid-row: 3/4;
    grid-column: 1/4;
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    width: 100%;
    height: auto;
    min-height: 100vh;
  }
  header{
    grid-row: 1;
    grid-column: 1;
  }
  nav{
    grid-row: 2;
    grid-column: 1;
  }
  main{
    grid-row: 3;
    grid-column: 1;
  }
  aside{
    grid-row: 4;
    grid-column: 1;
  }
  footer{
    grid-row: 5;
    grid-column: 1;
  }
}