body{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

*{
    box-sizing: border-box;
}

header, footer{
    width: 100%;
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    height: 100%;
    display: flex;
    flex: 1;
}

nav{
    border-right: solid 1px black;
    flex: 0 0 200px;
    /* flex: flex-grow: 0 (余白があっても広がらない) ,
             flex-shrink: 0 (狭くなっても縮まない)
             flex-basis: (200px 基準サイズを200pxにする) ;*/
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

aside{
    border-left: solid 1px black;
    flex: 0 0 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
  .center{
    display: flex;
    flex-direction: column;
  }
  nav,main,aside{
    border: none;
    width: 100%;
  }
}