html {
    scroll-snap-type: y mandatory;
}

body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

section:nth-child(2n){
    background-color: gray;
}