.item{
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:nth-child(2n){
    margin-left: 100px;
}

.item::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    right: 0;
    background-color: gray;
    transform: translateX(50%);
}

.item:nth-child(2n)::before{
    left: 0;
    transform: translateX(-50%);
}

.item::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    right: 0;
    top: 50%;
    background-color: gray;
    border: solid 5px white;
    transform: translate(50%,-50%);
}

.item:nth-child(2n)::after{
    left: 0;
    transform: translate(-50%,-50%);
}