*{
    box-sizing: border-box;
}

:root{
    --bg: #ffffff;
    --text: #000000;
    --card-bg: #e4e4e4;
    --card-border: #8b8b8b;
}

body{
    display: flex;
    gap: 50px;
    background-color: var(--bg);
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    color: var(--text);
    background-color: var(--card-bg);
    border: solid 1px var(--card-border);
}

@media (prefers-color-scheme:dark){
    :root{
        --bg: #000;
        --text: #FFF;
        --card-bg: #222222;
        --card-border: #5f5f5f;
    }
}
